<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="juliashpakouskaya" translate="label" sortOrder="10">
            <label>JuliaShpakouskaya</label>
        </tab>
        <section id="learning" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Learning</label>
            <tab>juliashpakouskaya</tab>
            <resource>JuliaShpakouskaya_Learning::learning_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="page_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Page URL</label>
                    <comment>This is an URL of the index page of module.</comment>
                </field>
            </group>
        </section>
    </system>
</config>